
.col1, .col2, .col3, .cols, .col4, .col5 { float:left;}

.cols{ width:190px;}

.col1{ width:545px;}
.col3{ width:200px;}
.col2{ width:345px;}
.col4{ width:250px;}
.col5{ width:640px;}

/*======= index.html =======*/
#page1 .cols{ width:270px;}
#page1 h3{ line-height:2.1em; margin-bottom:1px;}
#page1 figure{ padding-bottom:19px;}
#page1 .pad_bot2{ padding-bottom:48px;}
#page1 #content { padding-bottom:57px;}
/*======= index-1.html =======*/
/*======= index-2.html =======*/
#page3 .cols{ width:270px;}
#page3 #content{ padding-top:4px}
#page3 figure{ padding-top:5px;}
/*======= index-3.html =======*/
#page4 .cols{ width:270px;}
#page4 h3{ line-height:2.1em; margin-bottom:1px;}
#page4 figure{ padding-bottom:19px;}
#page4 .pad_bot2{ padding-bottom:48px;}
#page4 #content { padding-bottom:57px;}
/*======= index-4.html =======*/
#page5 #content{ padding-top:4px}
/*======= index-5.html =======*/
/*======= index-6.html =======*/
